<div>
  <h1>Log In</h1>
  <p>UserName: <input [(ngModel)]="userName" placeholder="enter username" /></p>
  <p>Password: <input [(ngModel)]="password" placeholder="enter username" type="password" /></p>
  <button class="btn btn-primary" (click)="logIn()">LogIn</button>
</div>
