<div *ngIf='!carToUpdate'>
  <h2>Data is loading...</h2>
</div>

<div *ngIf='carToUpdate'>
  <app-errors-list [errors]='errors'></app-errors-list>

  <div *ngIf="carToUpdate">
    <h1>Update car form</h1>
    <p>ID: <input disabled="true" type="number" [(ngModel)]="carToUpdate.id" placeholder="enter id" /></p>
    <p>Make: <input [(ngModel)]="carToUpdate.make" placeholder="enter make" /></p>
    <p>Model: <input [(ngModel)]="carToUpdate.model" placeholder="enter model" /></p>
    <p>License: <input [(ngModel)]="carToUpdate.licensePlate" placeholder="enter licence plates" /></p>
    <p>Seats count: <input type="number" [(ngModel)]="carToUpdate.seatsCount" placeholder="enter seats count" ></p>
    <p>Price/KM: <input type="number" [(ngModel)]="carToUpdate.pricePerKM" placeholder="enter price per km" ></p>
    <p>Price/Day: <input type="number" [(ngModel)]="carToUpdate.pricePerDay" placeholder="enter price per day" ></p>
    <p>RegionID: <input type="number" [(ngModel)]="carToUpdate.regionId" placeholder="enter region id" ></p>
    <p>IsAvailable: <input type="checkbox" [(ngModel)]="carToUpdate.isAvailable"></p>

    <button class="btn btn-primary"   (click)="saveUpdate()">Save</button>
    <button class="btn btn-secondary" (click)="cancelUpdate()">Cancel</button>
  </div>
</div>
