<app-errors-list [errors]='errors'></app-errors-list>

<div>
  <h1>New car form</h1>
  <p>Make: <input [(ngModel)]="newCar.make" placeholder="enter make" /></p>
  <p>Model: <input [(ngModel)]="newCar.model" placeholder="enter model" /></p>
  <p>License: <input [(ngModel)]="newCar.licensePlate" placeholder="enter licence plates" /></p>
  <p>Seats count: <input type="number" [(ngModel)]="newCar.seatsCount" placeholder="enter seats count" ></p>
  <p>Price/KM: <input type="number" [(ngModel)]="newCar.pricePerKM" placeholder="enter price per km" ></p>
  <p>Price/Day: <input type="number" [(ngModel)]="newCar.pricePerDay" placeholder="enter price per day" ></p>
  <p>RegionID: <input type="number" [(ngModel)]="newCar.regionId" placeholder="enter region id" ></p>
  <button (click)="addCarToList()">Add car</button>
</div>
