<div>
  <div>
    <h1>All cars list</h1>

    <table class="table" *ngIf="carsPageData">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Make</th>
          <th scope="col">Model</th>
          <th scope="col">Details</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of carsPageData.results">
          <th scope="row">{{ car.id }}</th>
          <td>{{ car.make }}</td>
          <td>{{ car.model }}</td>
          <td><button class="btn btn-primary" (click)="showCarDetails(car.id)">Show details</button></td>
          <td><button class="btn btn-primary" (click)="updateCar(car.id)">Update</button></td>
          <td><button class="btn btn-danger"  (click)="setModalDataContext(car)" data-toggle="modal" data-target="#deleteWarningModal">Delete</button></td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="carsPageData">
      <button class="btn btn-secondary" *ngIf="carsPageData.prevPageAttributes !== null" (click)="getCarsPageByAttributes(carsPageData.prevPageAttributes)">Prev page</button>
      <span>Page {{carsPageData.page}}/{{carsPageData.pagesCount}} (Total items: {{carsPageData.resultsCount}})</span>
      <button class="btn btn-secondary" *ngIf="carsPageData.nextPageAttributes !== null" (click)="getCarsPageByAttributes(carsPageData.nextPageAttributes)">Next page</button>
    </div>

    <div>
      <button class="btn btn-primary" (click)="addCar()">Add new car</button>
    </div>
  </div>
</div>

<!-- Delete watning modal -->
<div class="modal fade" id="deleteWarningModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You are about to delete {{carDeleteModalDataContex.make}} {{carDeleteModalDataContex.model}} (ID: {{carDeleteModalDataContex.id}})). Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modalCanceled()'>Cancel</button>
        <button type="button" class="btn btn-danger"    data-dismiss="modal" (click)='deleteCar(carDeleteModalDataContex.id)' >Delete</button>
      </div>
    </div>
  </div>
</div>
