<div *ngIf="selectedCar">
  <h1>Selected car details</h1>
  <p *ngIf="selectedCar.isAvailable" style="color: green; font-weight: bold;">Available</p>
  <p *ngIf="!selectedCar.isAvailable" style="color: red; font-weight: bold;">Not Available :(</p>
  <p>ID: {{ selectedCar.id }}</p>
  <p>Make: {{ selectedCar.make }}</p>
  <p>Model: {{ selectedCar.model }}</p>
  <p>License: {{ selectedCar.licensePlate }}</p>
  <p>Price/Day: {{ selectedCar.pricePerDay }}</p>
  <p>Price/KM: {{ selectedCar.pricePerKM }}</p>
  <p>Seats count: {{ selectedCar.seatsCount }}</p>
</div>
<button class="btn btn-primary" (click)="goBack()">Back to cars list</button>
<button class="btn btn-primary" (click)="updateCar()">Update</button>
